body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.container-main {
    display: flex;
    justify-content: space-between;
    width: 96%;
    margin: auto;
    margin-top: 0px;
}

header {
    margin-top: 23px;
}

.container-esquerdo {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    align-items: flex-end;
}

.container-esquerdo textarea {
    width: 600px;
    height: 450px;
    resize: none;
    font-size: 15px;
    background-color: transparent;
    box-shadow: none;
    border: none;
    outline: 0;
    padding: auto;
    color: #fff;
}

.container-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
}

.container-buttons button,
.container-direito button,
#clipboard {
    margin-bottom: 10px;
    height: 40px;
    width: 250px;
    background-color: transparent;
    border-radius: 30px;
    border: 2px solid #175caf;
}

.container-direito {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    align-items: center;
    background-color: #383737;
    border-radius: 30px;
    overflow: hidden;
    width: 25%;
}

.container-direito textarea {
    width: 300px;
    height: 500px;
    resize: none;
    font-size: 15px;
    background-color: transparent;
    box-shadow: none;
    border: none;
    outline: 0;
    padding: 2px;
    color: #fff;
    overflow: auto;
    padding-left: 10px;
}

button {
    padding: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
    display: block;
    margin-top: 10px;
    height: 40px;
    width: 250px;
    background-color: transparent;
    border-radius: 30px;
    border: 2px solid #175caf;
}

button:hover {
    background-color: #0A3871;
}

.gif-animate {
    width: 20vw;
}

#inputText1::placeholder {
    color: #a6cbf7;
    font-size: 20px;
}

.mensagem {
    width: 20vw;
    margin: 10px auto;
    padding: 0.5px;
    align-items: center;
}

h5 {
    color: var(--gray-gray-500, #a6cbf7);
    text-align: center;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    margin: 5px 0;
}

h6 {
    color: var(--gray-gray-400, #798591);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 10;
    line-height: 100%;
    margin: 5px 0;
}

p {
    font-size: small;
    color: #8a8a8a;
    margin-right: 58%;
}

@media only screen and (max-width: 768px) {
    .container-main {
        flex-direction: column;
    }

    .container-direito {
        width: 90%;
        margin-top: 10px;
        align-items: center;
        padding: 0%;
        margin-right: 100px;

    }

    .container-esquerdo{
        width: 100%;
    }

    .container-esquerdo textarea {
        width: 100%;
    }

    .container-direito .gif-animate {
        visibility: hidden;
    }

    .mensagem {
        width: auto;
        height: 100%;
        margin-top: 0;
    }

    .mensagem h5,
    .mensagem h6 {
        margin: 0; /* Remova qualquer margem interna dos elementos h5 e h6 */
    }
}
